{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}
{% load crispy_forms_tags %}

{% block body %}
<main class="container mt-5 mb-4 pt-4">
    <div class="row">
        {% if not request.user.is_authenticated %}
        <div class="col-lg">
            <h2>Login</h2>

            <form method="POST" action="{% url 'perfil:login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuário</label>
                    <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp" placeholder="Digite seu usuário">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" name="password" class="form-control"
                           id="exampleInputPassword1" placeholder="Digite sua senha">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
        </div>
        {% endif %}
        <div class="col-lg">
            {% block login_title %}
            <h2>Cadastro</h2>
            {% endblock %}
            <form method="post" action="">
                {% csrf_token %}
                {{ userform|crispy }}
                {{ perfilform|crispy }}
                <div class="row">
                    <div class="col-lg">
                        <button class="btn btn-info btn-block">Cadastrar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</main>
{% endblock %}
